In [36]:
import numpy as np

In [37]:
import pandas as pd

In [38]:
from numpy.random import randn

In [48]:
outside=['G1','G1','G1','G2','G2','G2','G3','G3','G3']
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [49]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [50]:
df=pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [51]:
df

             A         B
G1 1 -0.062395  0.748703
   2  0.320841 -0.446453
   3 -2.597432  0.172698
G2 1 -0.472453 -1.077183
   2  0.590240 -0.714447
   3  0.085434 -1.030500

In [52]:
df.loc['G1']

          A         B
1 -0.062395  0.748703
2  0.320841 -0.446453
3 -2.597432  0.172698

In [54]:
df.loc['G2'].loc[[2]]

         A         B
2  0.59024 -0.714447

In [55]:
df.loc['G2']['B'].loc[2]

-0.7144470898357884

In [56]:
df.index.names=['Groups','Num']

In [57]:
df

                   A         B
Groups Num
G1     1   -0.062395  0.748703
       2    0.320841 -0.446453
       3   -2.597432  0.172698
G2     1   -0.472453 -1.077183
       2    0.590240 -0.714447
       3    0.085434 -1.030500

In [58]:
df.xs('G1')

            A         B
Num
1   -0.062395  0.748703
2    0.320841 -0.446453
3   -2.597432  0.172698

In [59]:
df.xs(3,level='Num')

               A         B
Groups
G1     -2.597432  0.172698
G2      0.085434 -1.030500