In [17]:
import numpy as np

In [18]:
import pandas as pd

In [19]:
from numpy.random import randn

In [20]:
outside=['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [21]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [22]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [23]:
df=pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [24]:
df

             A         B
G1 1 -0.286101 -0.902876
   2 -0.008883 -0.979935
   3  0.233971 -0.295370
G2 1  1.640074  0.889389
   2  0.363217 -1.262878
   3  0.260798  0.994961

In [25]:
df.loc['G1'].loc[[1]]

          A         B
1 -0.286101 -0.902876

In [26]:
df.loc['G2'].loc[[2]]

          A         B
2  0.363217 -1.262878

In [27]:
df.index.names=['Groups','Num']

In [28]:
df

                   A         B
Groups Num
G1     1   -0.286101 -0.902876
       2   -0.008883 -0.979935
       3    0.233971 -0.295370
G2     1    1.640074  0.889389
       2    0.363217 -1.262878
       3    0.260798  0.994961

In [29]:
df.loc['G2'].loc[2]['B']

-1.262877580281457

In [30]:
df

                   A         B
Groups Num
G1     1   -0.286101 -0.902876
       2   -0.008883 -0.979935
       3    0.233971 -0.295370
G2     1    1.640074  0.889389
       2    0.363217 -1.262878
       3    0.260798  0.994961

In [31]:
df.xs('G1')

            A         B
Num
1   -0.286101 -0.902876
2   -0.008883 -0.979935
3    0.233971 -0.295370

In [32]:
df.xs(1,level='Num')

               A         B
Groups
G1     -0.286101 -0.902876
G2      1.640074  0.889389

In [33]:
df

                   A         B
Groups Num
G1     1   -0.286101 -0.902876
       2   -0.008883 -0.979935
       3    0.233971 -0.295370
G2     1    1.640074  0.889389
       2    0.363217 -1.262878
       3    0.260798  0.994961