In [1]:
import pandas as pd
import numpy as np
import random
import itertools
from itertools import count

In [2]:
#1st
#a
a = [-1,2,3,4,2,1,7]
print(a[0:5])
#or
print(a[:5])

[-1, 2, 3, 4, 2]
[-1, 2, 3, 4, 2]

In [3]:
#1st
#b
a = [-1,2,3,4,2,1,7]
prime = set(a)
my_newprime = list(prime)
print(my_newprime)
#or
new_arr = np.unique(a)
print(new_arr)
#or
empty_arr=[]
for i in a:
    if i not in empty_arr:
        empty_arr.append(i)
print(empty_arr)

[1, 2, 3, 4, 7, -1]
[-1  1  2  3  4  7]
[-1, 2, 3, 4, 1, 7]

In [4]:
#1st
#c
print(sorted(my_newprime))
print(sorted(new_arr))
print(sorted(empty_arr))

[-1, 1, 2, 3, 4, 7]
[-1, 1, 2, 3, 4, 7]
[-1, 1, 2, 3, 4, 7]

In [5]:
#2nd
First_names = ["Peter", "Christian", "Klaus"]
Last_names = ["Jensen", "Smith", "Nistrup"]
Names = ([m+" "+n for m,n in zip(First_names,Last_names)])
print(Names)

['Peter Jensen', 'Christian Smith', 'Klaus Nistrup']

In [6]:
#3rd
Friends = ["Team 1", "Team 2", "Team 3", "Team 4"]
count_3 = 0
for i in Friends:
    for j in Friends:
        if i!=j:
            count_3 = count_3 + 1 
            ena = enumerate(Friends, start=1)
            print(f"Game {count_3}:"+i+"-"+j)
        if i==i:
            pass
        if j==j:
            pass
        if j==i:
            pass
        if i and j == i and j:
            pass
        if j and i == j and i:
            pass

Game 1:Team 1-Team 2
Game 2:Team 1-Team 3
Game 3:Team 1-Team 4
Game 4:Team 2-Team 1
Game 5:Team 2-Team 3
Game 6:Team 2-Team 4
Game 7:Team 3-Team 1
Game 8:Team 3-Team 2
Game 9:Team 3-Team 4
Game 10:Team 4-Team 1
Game 11:Team 4-Team 2
Game 12:Team 4-Team 3

In [7]:
#3rd
#another variant
Friends = ["Team 1", "Team 2", "Team 3", "Team 4"]
count_2 = 0
for i in Friends:
    count_2 = count_2 + 1 
    choicess = random.choices(Friends, k=2)
    print(f'Game {count_2}' ,choicess)

Game 1 ['Team 2', 'Team 1']
Game 2 ['Team 2', 'Team 1']
Game 3 ['Team 3', 'Team 2']
Game 4 ['Team 4', 'Team 2']

In [8]:
#3rd
#another variant
Friends = ["Team 1", "Team 2", "Team 3", "Team 4"]
count_1 = 0
for i in Friends:
    for j in Friends:
        if i == i:
            count_1 = count_1 + 1
            print(f"Game.{count_1}",random.sample(Friends,2))

Game.1 ['Team 2', 'Team 1']
Game.2 ['Team 1', 'Team 2']
Game.3 ['Team 2', 'Team 3']
Game.4 ['Team 1', 'Team 4']
Game.5 ['Team 3', 'Team 1']
Game.6 ['Team 4', 'Team 2']
Game.7 ['Team 1', 'Team 3']
Game.8 ['Team 4', 'Team 3']
Game.9 ['Team 2', 'Team 3']
Game.10 ['Team 4', 'Team 1']
Game.11 ['Team 2', 'Team 1']
Game.12 ['Team 2', 'Team 1']
Game.13 ['Team 4', 'Team 3']
Game.14 ['Team 3', 'Team 2']
Game.15 ['Team 1', 'Team 2']
Game.16 ['Team 2', 'Team 3']